<div ui-view="navigation"></div>
<div class="row">
    <form class="col s12" style="margin-top: 20px;" ng-submit="newService()">
    	<div class="row">
			<div class="input-field col s12">
				<select ng-options="servicio.nombre for servicio in listaServicios track by servicio.id" ng-model="new_service.id_service">
			 		<option value="" disabled selected>Selecciona un servicio</option>
				</select>
		    	<label>Servicios</label>
			</div>
			<div class="input-field col s12">
				<label for="precio">Precio</label>
    			<input id="precio" type="text" class="validate" ng-model="new_service.precio">
        	</div>
      	</div>
      	<div style="text-align: center;">
      		<button class="btn waves-effect waves-light" type="submit" name="action">Guardar
	    		<i class="material-icons right">send</i>
	  		</button>
      	</div>
	</form>
	</div>