<div ui-view="navigation"></div>




  <div id="modalEliminarCombo" class="modal red">
    <div class="modal-content">
      <h4>¿Seguro que desea eliminar este Combo?</h4>
      <input class="hidden" type="text" ng-model="combo_id">
    </div>
    <div class="modal-footer red">
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">Cancelar</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="eliminarCombo(combo_id)">Eliminar</button>
    </div>
  </div>


  <!-- Modal Structure -->
  <div id="modalVerCombo" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div>
        <img src="{{ thumbnail + combo.foto }}" alt="" style="width: 100%">
        <h4 class="center-align">{{combo.descripcion}}</h4>
        <h5 class="center-align">Precio: {{combo.precio}} Bs.</h5>
      </div>
        <div class="container">
          <table class="bordered">
            <tbody>
              <tr ng-repeat="list in listaServicios">
                <td class="center-align">{{list.nombre}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="modal-footer teal">
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">Cerrar</button>
    </div>
  </div>

<div style="width: 70%;margin: auto;">
    <form id="searchInput" >
        <div class="input-field" style="margin-top: 0px;">
            <input type="text" placeholder="Buscar combos" ng-model="search" style="padding: 2%;">
        </div>
    </form>
</div>
          

<h5 style="text-align: center;">Lista de Combos</h5>

<div ng-repeat="combo in combos | filter : search" >
    <div class="row" style="margin-bottom: 0px;">
        <div class="col s12"  style="margin-top: 2%;padding: 0;">
            <div class="col s12" style="color:black;margin-bottom: 5px;">
                <div class="col s2" style="padding: 0px;">
                    <img src="{{ thumbnail + combo.foto }}" alt="" class="circle responsive-img" style="width: 60px;height: 47px;">
                </div>
                <div class="col s8">
                    <p style="font-size: 1.17em;margin:0;font-weight: 600;">{{combo.descripcion}}</p>
                    <p style="font-size: 1em;margin:0;font-weight: initial;font-style: italic;">Cotización: {{combo.precio | number:2 }} Bs.</p>
                </div>
                <div class="right" style="margin-right: 15px;">
                    <a class='dropdown-button btn' data-beloworigin="true" href='javascript:void(0)' data-activates='combo--{{combo.id}}' id="combo-{{combo.id}}" style="background-color: #4db6ac;padding: 0 10px;"><i class="material-icons">more_vert</i></a>
                    <ul id='combo--{{combo.id}}' class='dropdown-content' for="combo-{{combo.id}}">
                        <li><a ui-sref="profesional_combos_editar({id:independent_id, id_combo:combo.id})">Editar</a></li>
                        <li><a ng-click="modalEliminarCombo(combo.id)">Eliminar</a></li>
                        <li><a ng-click="modalVerCombo(combo.id)">Ver Combo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="divider" style="margin: 1.5%;background-color: #228e7f !important;"></div>
</div>

<div class="fixed-action-btn">
  <a ui-sref="profesional_combos_crear({id:independent_id})" class="btn-floating btn-large red" >
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- <div class="row container">
      <div class="col s12 m12">
        <div>
        <table class="bordered">
            <thead>
              <tr>
                <th colspan="2" class="center-align"><h5>Lista de Combos</h5></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="combo in combos">
                <td>{{combo.descripcion}}</td>
                <td>
                    <button class='center-align dropdown-button btn-floating waves-effect waves-light secondary-content' data-activates='{{combo.id}}'><i class="material-icons">more_vert</i></button>

                   
                    <ul id='{{combo.id}}' class='dropdown-content'>
                      <li><a ui-sref="profesional_combos_editar({id:independent_id, id_combo:combo.id})">Editar</a></li>
                      <li><a ng-click="modalEliminarCombo(combo.id)">Eliminar</a></li>
                      <li><a ng-click="modalVerCombo(combo.id)">Ver Combo</a></li>
                    </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->

<div>