<div ui-view="navigation"></div>
<div class="row" style="margin-bottom: 0px;">
    <form class="col s12" style="margin-top: 20px;" ng-submit="newService()" enctype="multipart/form-data">
    	<div class="row">
    		<div class="col s12">
    			<img ng-src="{{ thumbnail.dataUrl }}" class="materialboxed" style="height: 250px;width: 100%;" />
	          	<div class="file-field">
	            	<div class="btn-floating halfway-fab waves-effect waves-light blue">
		              	<i class="material-icons">camera</i>
		              	<input type="file" name="file" id="file" uploader-model="new_service.foto" onchange="angular.element(this).scope().photoChanged(this.files)">
		            </div>
	            	<div class="file-path-wrapper">
	              	<input class="file-path validate hide" type="text">
	            	</div>
	          	</div>
    		</div>
        </div><br>
    	<div class="row">
			<div class="input-field col s12">
				<select ng-options="servicio.nombre for servicio in listaServicios track by servicio.id" ng-model="new_service.id_service">
			 		<option value="" disabled selected>Selecciona un servicio</option>
				</select>
		    	<label>Servicios</label>
			</div>
			<div class="input-field col s12">
				<label for="precio">Precio</label>
    			<input id="precio" type="text" class="validate" ng-model="new_service.precio">
        	</div>
	        <div class="input-field col s12">
	        	<textarea id="textarea1" class="materialize-textarea" ng-model="new_service.descripcion"></textarea>
	        	<label for="textarea1">Descripción</label>
	        </div>
      	</div>
      	<div class="row" style="text-align: center;">
      		<a ui-sref="profesional_combos_crear({id:usuario_id})" class="btn waves-effect waves-light blue-grey darken-3" name="action">Crear combos</a>
      		<button class="btn waves-effect waves-light" type="submit" name="action">Guardar
	    		<i class="material-icons right">send</i>
	  		</button>
      	</div>
	</form>
</div>