<div ui-view="navigation"></div>

<div class="" style="height: 10px;"></div>

<h4 style="text-align: center;margin-top: 20%;">Gestión de categorias</h4>

<div class="responsive-table table-status-sheet">
    <table class="bordered">
        <tbody>
            <tr ng-repeat="categoria in categorias | filter : search | orderBy: 'nombre'">
                <td colspan="3">
                    <p style="font-size: 1.2em;margin:0;font-weight: 600;">{{categoria.nombre}}
                    </p>
                </td>
                <td>
                    <div class="right" style="margin-right: 15px;">
                        <a class='dropdown-button btn' data-beloworigin="true" href='javascript:void(0)' data-activates='categoria--{{categoria.id}}' id="categoria-{{categoria.id}}" style="background-color: #4db6ac;padding: 0 10px;">
                            <i class="material-icons">more_vert</i>
                        </a>

                        <ul id='categoria--{{categoria.id}}' class='dropdown-content' for="categoria-{{categoria.id}}">
                            <li><a href="javascript:void(0)" ng-click="editarItem(categoria.id,categoria.nombre);">Editar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col s12 footer-listuser">
    <div class="col s8">
        <form id="searchInput">
            <div class="input-field center-align" style="margin-top: 0px;">
                <input type="text" placeholder="Buscar categoria..." ng-model="search.nombre" style="padding: 2%;width: 70%;">
            </div>
        </form>
    </div>
    <!-- <div class="col s4">
        <div class="fixed-action-btn" style="bottom: 10px;">
            <a ng-click="modalServicio()" class="btn-floating btn-large red">
              <i class="large material-icons">add</i>
            </a>
        </div>
    </div> -->
</div>

<div id="modal1" class="modal">
    <div class="modal-head center">
        <h6>Editar categoria</h6>
    </div>
    <div class="modal-content">
        <form>
            <input type="text" name="nombre" id="categoria_nombre">
            <input type="hidden" name="id" id='categoria_id'>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn red" ng-click="cancelEdit();" >Cancelar</button>
        <button ng-click="editarCategoria()" ng-disabled="btnDisabled" class="modal-action modal-close waves-effect waves-green btn confirm green" style="margin-right: 5px;">Guardar</button>
    </div>
</div>










