<div ui-view="navigation"></div>

<style>

    .panel-pagos-links{
        align-items:center;
        display:flex;
        height:80vh;
        justify-content:center;
        width: 100%;
    }
    .panel-pagos-links > div{
        width: 100%;
    }
</style>

    

<div>
    <div style="height:20vh;">
        <p>Panel de gestion de pagos, transacciones y comisiones</p>
    </div>
    <div class="panel-pagos-links">
        <div>
            <div class="row" style="text-align:center;">
                <a href="#" class="btn">Comisiones de usuarios</a>
            </div>
            <div class="row" style="text-align:center;">
                <a href="#" class="btn">Transacciones/pagos</a>
            </div>
        </div>
    </div>
</div>
    

    