<div ui-view="navigation"></div>

<div class="" style="height: 10px;"></div>

<h4 style="text-align: center;margin-top: 20%;">Gestion de servicios</h4>

<div class="responsive-table table-status-sheet">
    <table class="bordered">
        <tbody>
            <tr ng-repeat="servicio in servicios | filter : search | orderBy: 'nombre'">
                <td colspan="3">
                    <p style="font-size: 1.2em;margin:0;font-weight: 600;">{{servicio.nombre}}
                    </p>
                </td>
                <td>
                    <div class="right" style="margin-right: 15px;">
                        <a class='dropdown-button btn' data-beloworigin="true" href='javascript:void(0)' data-activates='servicio--{{servicio.id}}' id="servicio-{{servicio.id}}" style="background-color: #4db6ac;padding: 0 10px;"><i class="material-icons">more_vert</i></a>
                        <ul id='servicio--{{servicio.id}}' class='dropdown-content' for="servicio-{{servicio.id}}">
                            <li><a href="javascript:void(0)" ng-click="editarItem(servicio.id, servicio.nombre);">Editar</a></li>
                            <li><a href="javascript:void(0)" ng-click="removeItem(servicio.id,'/service');">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col s12 footer-listuser">
    <div class="col s8">
        <form id="searchInput">
            <div class="input-field" style="margin-top: 0px;">
                <input type="text" placeholder="Buscar servicio..." ng-model="search.nombre" style="padding: 2%;width: 70%;">
            </div>
        </form>
    </div>
    <div class="col s4">
        <div class="fixed-action-btn" style="bottom: 10px;">
            <a ng-click="modalServicio()" class="btn-floating btn-large red">
              <i class="large material-icons">add</i>
            </a>
        </div>
    </div>
</div>



<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>Eliminar Servicio</h5>
        <span style="font-size: 12.5px;">¿Esta seguro que desea eliminar el servicio?</span>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn green" ng-click="cancelDelete();" >No</button>
        <button ng-click="confirmDelete();" ng-disabled="btnDisabled" class="modal-action modal-close waves-effect waves-green btn confirm red" style="margin-right: 5px;">Si</button>
    </div>
</div>

<div id="modalEdit" class="modal">
    <div class="modal-head center">
        <h6>Editar servicio</h6>
    </div>
    <div class="modal-content">
        <form>
            <input type="text" name="nombre" id="servicio_nombre">
            <input type="hidden" name="id" id='servicio_id'>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn green" ng-click="cancelEdit();" >Cancelar</button>
        <button ng-click="editarServicio()" ng-disabled="btnDisabled" class="modal-action modal-close waves-effect waves-green btn confirm red" style="margin-right: 5px;">Actualizar</button>
    </div>
</div>

<div id="modalAdd" class="modal">
    <div class="modal-head center">
        <h6>Agregar nuevo servicio</h6>
    </div>
    <div class="modal-content">
        <form>
            <input type="text" name="nombre" id="add_servicio_nombre" placeholder="Nombre del servicio">
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn green" ng-click="cancelAdd();" >Cancelar</button>
        <button ng-click="addServicio()" ng-disabled="btnDisabled" class="modal-action modal-close waves-effect waves-green btn confirm red" style="margin-right: 5px;">Agregar</button>
    </div>
</div>

