<nav class="right">
    <div class="nav-wrapper teal lighten-2">
      <a href="#!" class="brand-logo center" style="bottom: 2px;"><img src="../../../assets/core/images/logosalon2.png" class="logo-menu redondear"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
      <a href="#" class="button-collapse left" ng-click="goBack();" ><i class="material-icons">keyboard_backspace</i></a>
      <ul class="hide-on-med-and-down">
        <a href="#" data-activates="mobile-demo" class="right"><i class="material-icons">menu</i></a>
      <a href="#" class="left"><i class="material-icons">keyboard_backspace</i></a>
      </ul>
      <ul class="side-nav text-center right " id="mobile-demo">
        <br>
        <li>
            <div class="center"><img ng-src="{{ foto_menu }}" class="perfil-menu redondear" /></div>
        </li>
        <li ng-repeat="opcion in opciones">
          <a ui-sref={{opcion.state}}>{{opcion.nombre}}<i class="material-icons">{{opcion.icono}}</i></a>
        </li>
        <li id="btn-logout" class="logouth">
            <a href="#">Cerrar Sesion <i class="material-icons">exit_to_app</i></a>
        </li>
      </ul>
    </div>
</nav>