<style>
  .user-menu{
    width: 90%!important;
  }
</style>

<nav class="right">
  
    <div class="nav-wrapper pink accent-3">
    <!-- <div class="nav-wrapper teal lighten-2"> -->

      <a href="#!" class="brand-logo center" style="bottom: 2px;">
        {{page_title}}

        <!-- <img src="./assets/core/images/logosalon2.png" class="logo-menu redondear"> -->
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse right">
        <i class="fa fa-bars"></i>
      </a>

      <a href="#" class="button-collapse left" onclick="window.history.go(-1); return false;" ng-if="!noBtnBack">
        <i class="fa fa-chevron-left"></i>
      </a>

      <ul class="hide-on-med-and-down">
        <a href="#" data-activates="mobile-demo" class="right">
          <i class="fa fa-bars"></i>
        </a>
        <a href="#" class="left">
          <i class="fa fa-chevron-left"></i>
        </a>
      </ul>



      <ul class="side-nav text-center right user-menu" id="mobile-demo">
        <br>
        <li>
          <div class="center"><img ng-src="{{ foto_menu }}" class="perfil-menu redondear" /></div>
        </li>
        <li ng-repeat="opcion in opciones">
          <a ui-sref={{opcion.state}} style="padding: 0 20px;">{{opcion.nombre}}
            <!-- <i class="material-icons">{{opcion.icono}}</i> -->
            <i class="fa {{opcion.icono}}" aria-hidden="true"></i>
          </a>
        </li>


        <li id="btn-logout" class="logouth">
          <a href="#" style="padding: 0 20px;">Cerrar Sesion 
            <!-- <i class="material-icons">exit_to_app</i> -->
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
</nav>
