/**{
	margin:0;
	padding: 0;

	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	
}*/


.fondoBody { 
  background: url(../images/fondoksalonazo-1.png)  fixed center center repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.login{
  
}

.select-wrapper {
  ul {
    li > span {
      color: teal;
    }
  }
}


/*.category{
  margin-bottom: 25px;
}

.category-link{
  background-color: #fff!important;
  color: hsl(330, 87%, 50%)!important;
  
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin:0 auto;
  padding: 5px 10px;
  text-align: center;
  width: 80%;
}*/

.full-height{
  min-height: 100vh;
}

.input[type=text] {
  background-color: #3CBC8D;
  color: white;
}


.input-wrap{
  text-align: center;
}

.input-wrap > input{
  background-color: #fff!important;
  background-position: 7px 7px;
  background-repeat: no-repeat;
  background-size: 10% 60%;
  border-radius: 0%;
  font-size: 16px!important;
  height: 40px;
  margin-bottom: 0px;
  padding:5px!important;
  padding-left:32px!important;
}

.logo{
  border-radius: 8px;
  display: block;
  margin: auto;
  /*padding-top: 14%;*/
  width: 50%;
}

/*.politicas, .about{
  font-size: 14px;
  margin: 0 auto;
  padding:10px; 
  text-align: justify;  
  width: 80%;
}


#btn-login-wrap > button {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  width: 60%;

}

#email{
  margin-top: 40%; 
}

#btn-login-wrap{
  text-align: center;
}

#categories-wrap{
  margin-top: 50px;
}

#input-email {
    background-image: url(../images/user.png);
}

#input-password {
    background-image: url(../images/lock.png);
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding:0px;
}*/



/*--------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}




/*#btn
{ 
  margin-left: 10%;
  text-align: left;
  border: none;
  cursor: pointer;
  width: 80%;
  font-size: 24px;
}*/



/*.iconn{
  color: white;
  position: 5px 5px;
}





.users{
  
  width: 20%;
}*/

/*.user{
  display: flex;
  align-items: center;
  justify-content:center;
  height: 140px;
}
*/
/*#btn
{
  
  margin-top: -9%;
  margin-left: 10%;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 80%;
  font-size: 20px;
  border-radius: 5px;

  }*/

.row .input-color input {
  border-bottom: 1px solid #FFFFFF !important;
  box-shadow: 0 1px 0 0 #FFFFFF !important
}

.input-color input + label {
  color: #FFFFFF !important;
  font-weight: bold;
}

.input-color input:focus + label {
  color: #ff4081 !important;
  font-weight: bold;
}

.input-color input:focus + i {
  color: #ff4081 !important;
}

.row .input-color input:focus {
  border-bottom: 1px solid #ff4081 !important;
  box-shadow: 0 1px 0 0 #ff4081 !important;
}

.row .input-color-card input {
  border-bottom: 1px solid #424242 !important;
  box-shadow: 0 1px 0 0 #424242 !important
}

.input-color-card input + label {
  color: #424242 !important;
  font-weight: bold;
}

.input-color-card input:focus + label {
  color: #03a9f4 !important;
  font-weight: bold;
}

.input-color-card input:focus + i {
  color: #03a9f4 !important;
}

.row .input-color-card input:focus {
  border-bottom: 1px solid #03a9f4 !important;
  box-shadow: 0 1px 0 0 #03a9f4 !important;
}

.btn-block{
  width: 100%;
}

.redondear{
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

.logo-menu{
  margin-top: 4px;
  width:50px;
}

.perfil-menu{
  width: 150px;
}

.perfil{
  width: 100%;
  height: 20%;
}

.card-action a{
  font-size: small;
}

.nombre-comentario{
  font-weight: bold;
}

[class^="agrandar"]:before, [class*=" agrandar"]:before,
[class^="agrandar"]:after, [class*=" agrandar"]:after {   
  font-family: Flaticon;
        font-size: 50px;
font-style: normal;
margin-left: 20px;
}

.divcompleto{
  height: 100%;
  width: 100%;
}




/*Jonathan's Styles*/

.fa{
  font-size: 18px;
}

.fa-star{
  color: gold;
}

.form-categorias{
  margin: 0 auto;
  width: 75%;
}

.form-categorias-footer{
  bottom:0px;
  height: 10vh;
  position: fixed;
  width: 100%;
}
.form-categorias-footer > button, .form-categorias-footer > a{
  height: 10vh;
}


.page-content{
  height: 82vh;
}

.page-description{  
  font-size: 16px;
  margin-top: 30px;
  padding: 50px 0px 20px 0px;  
  text-align: center;
}

/*End Jonathan's styles*/