<style type="text/css">
	.servicios-cliente{
		padding-top: 0px;
		margin-bottom: 10px;
	}

	label .nombre-servicio{
		font-size: 1.2em;
	}

</style>

<div ui-view="navigation"></div>	

<br>

<div class="height-100;">
		
	<div class="page-content">		
		<div class="page-description center">
			<br>
			<h5>Seleccione los servicios que desee</h5>
		</div>
		
		<div class="form-categorias">
			<form action="#">
			    <div ng-repeat="servicio in servicios" class="servicios-cliente">
			      	<!-- Disabled Switch -->
					<div class="switch">
						<label>
			      			<input id="service-{{servicio.id}}" type="checkbox" name="servicio" value="{{servicio.id}}"/ style="position: inherit;">							
			      			<!-- <input type="checkbox" data-name="{{servicio.nombre}}" name="servicio" value="{{servicio.id}}"/ style="position: inherit;">							 -->
							<span class="lever"></span>
					      	<label for="service-{{servicio.id}}" class="nombre-servicio">{{servicio.nombre}}</label>
					    </label>
				  	</div>

				  	<div class="divider" style="margin-bottom: 10px; margin-top: 10px"></div>
			    </div>
			</form>
		</div>
			
	</div>	

	<br>
	<div class="form-categorias-footer" style="width: 90%; margin: auto;">
		<button class="btn-block black waves-effect waves-light btn-large" ng-click="buscar_categorias();">
				Buscar
		</button>
	</div>

</div>
      