<div ui-view="navigation"></div>

<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
      	<div class="slider">
      		<ul class="slides">
      			<li ng-repeat="foto in fotos">
      				<img ng-src="{{url+foto.foto}}"> <!-- random image -->
      			</li>
      		</ul>
      	</div>
        <div class="container center-align"><h4 class="text-black">{{peluqueria.nombre}}</h4></div>
      </div>
      <div class="card-content center-align"  style="font-size: 2em;">
          <div class="starrr-user"></div>
        </div>
        <div class="card-action center-align">
         <a ui-sref="lounges_servicios({id:peluqueria.id})">Propiedades del salon</a>
        </div>
      </div>
    </div>
  </div>

<div class="row">
      <div class="col s12 m12">
        <div class="card-panel">
        <table class="bordered">
            <thead>
              <tr>
                <th class="center-align"><h4>Ultimos Comentarios</h4></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-if="comentarios.length == 0">
               <td>Aun no hay comentarios</td>
             </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<div>

    <!-- <div class="col s12">
      <span style="color:white;font-size: 1.16em;"><ins>Ultimos comentarios de los usuarios trabajadores</ins></span>
            
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons circle green">insert_chart</i>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
          </p>
          <div class="row" style="font-size:1.55em;">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>

        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">insert_chart</i>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br></p>
          <div class="row" style="font-size:1.55em;">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">insert_chart</i>
                
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br></p>
          <div class="row" style="font-size:1.55em;">
              <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        </li>
      </ul>

  </div>
</div> -->



<div ng-show="btnClientes">
  <div class="col s7 offset-s2">
    <a ui-sref="home" class="waves-effect waves-light btn btn-evolutrans btn-block" style="width:100%;position: relative;bottom: 4%; font-size: 1.2rem;">
      Buscar servicios
    </a>
  </div>
</div>

<div ng-show="btnSalones">
  <div class="col s7 offset-s2">
    <a ui-sref="lounges_servicios" class="waves-effect waves-light btn btn-evolutrans btn" style="width:100%;position: fixed;bottom: 0px; font-size: 1.2rem;height: 40px;">
      Mis Servicios
    </a>
  </div>
</div>

<div ng-show="btnProfesional">
  <div class="col s7 offset-s2">
    <a ui-sref="profesional_servicios({id:Usuario.id})" class="waves-effect waves-light btn btn-evolutrans btn" style="width:100%;position: fixed;bottom: 0px; font-size: 1.2rem;height: 40px;">
      Mis Servicios
    </a>
  </div>
</div>
