
<div ui-view="navigation"></div>	

<br>

<div class="height-100;" style="50px;">
		
	<div class="page-content">		
		<div class="page-description">
			<p>Seleccione las opciones de su preferencia</p>
		</div>
		
		<div class="form-categorias">

			<form action="#">

			    <p>
			      	<input type="checkbox" name="categoria" value="1"/ style="position: inherit;">
			      	<label for="test6">Secado</label>
			    </p>
			    <p>
			      	<input type="checkbox" name="categoria" value="2"/ style="position: inherit;">
			      	<label for="test6">Lavado</label>
			    </p>
			    <p>
			      	<input type="checkbox" name="categoria"/ value="3" style="position: inherit;">
			      	<label for="test6">Corte de Cabello</label>
			    </p>
			    <p>
			      	<input type="checkbox"/ name="categoria" value="4" style="position: inherit;">
			      	<label for="test6">Manicure</label>
			    </p>						

			</form>

		</div>
			
	</div>	


	<div class="form-categorias-footer">
		<button class="btn btn-block teal lighten-2 waves-effect waves-light btn-large" ng-click="buscar_categorias();">
				Buscar
		</button>
	</div>

</div>
      