<div ui-view="navigation"></div>	

<br>

<style>
	/*.ksalonaso{
		background: url(../../../assets/core/images/fondoksalonazo-1.png)  fixed center center repeat; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}*/

	.opciones-vendedor-foto{
	  	border-radius: 8px;
	   	display: block;
	    margin: auto;
	    width: 50%;
	    padding-top: 14%;
	}

	.opciones-vendedor{
	  	margin-top: 10%;
	    margin-top: 50px;
	}

	.opcion-btn{ 	  	
	  	border: none;
	  	cursor: pointer;
	  	font-size: 24px;
	  	margin-left: 10%;
	  	text-align: center;
	 	width: 80%;
	}

	.opcion-vendedor{
		margin-bottom: 10px;
		padding: 5px 0px 5px 0px;
	}

	.opciones-vendedor-nombre{
		font-size: 22px;
		text-align: center;
	}


</style>

<div class="ksalonaso height-100;" style="50px;">
<!--
	<div class="opciones-vendedor">
		
		<div class="opcion-vendedor">
			<a ui-sref="cliente_vendedor_profesionales({id:peluqueria.id})" class="waves-effect waves-purple btn black white-text opcion-btn">PROFESIONALES </a>
		</div>

		<div  class="opcion-vendedor">
			<a ui-sref="cliente_vendedor_combos({id:peluqueria.id})" class="waves-effect waves-purple btn black white-text opcion-btn">COMBOS </a>
		</div>

		<div class="opcion-vendedor">
			<a ui-sref="cliente_vendedor_servicios({id:peluqueria.id})" class="waves-effect waves-purple btn black white-text opcion-btn">SERVICIOS </a>
		</div>
		<div class="opcion-vendedor">
			<a ui-sref="cliente_vendedor_productos({id:peluqueria.id})" class="waves-effect waves-purple btn black white-text opcion-btn">PRODUCTOS </a>
		</div>

	</div>
-->

	<div class="opciones-vendedor">
		<div class="input-field input-color col s12 white-text container">
			<a ng-click="goClienteVendedorProfesionales()" class="waves-effect btn-block waves-light btn-large amber darken-2">
				<i class="flaticon-skyline agrandar black-text right"></i>
				<span class="left">PROFESIONALES</span>
			</a>
		</div>
		<div class="input-field input-color col s12 white-text container">
			<a ng-click="goClienteVendedorCombos()" class="waves-effect btn-block waves-light btn-large pink">
				<i class="flaticon-barbershop agrandar black-text right"></i>
				<span class="left">COMBOS</span>
			</a>
		</div>
		<div class="input-field input-color col s12 white-text container">
			<a ng-click="goClienteVendedorServicios()" class="waves-effect btn-block waves-light btn-large light-blue">
				<i class="flaticon-hairdresser-with-comb-and-scissors agrandar black-text right"></i>
				<span class="left">SERVICIOS</span>
			</a>
		</div>
		<div class="input-field input-color col s12 white-text container">
			<a ng-click="goClienteVendedorProductos()" class="waves-effect btn-block waves-light btn-large amber darken-2">
				<i class="flaticon-skyline agrandar black-text right"></i>
				<span class="left">PRODUCTOS</span>
			</a>
		</div>
	</div>


</div>