<div ui-view="navigation"></div>	

<br>

<style>

	body {
	    /*background: url(./assets/core/images/login1.jpg)no-repeat center top;*/
	    background: url(./assets/core/images/fondoksalonazo-1.png)no-repeat center top;
	    background-size: cover;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    -ms-background-size: cover;
	    background-attachment: fixed;
	    background-position: center;
	    text-align: center;
		font-family: 'Open Sans', sans-serif;
	}

	.opciones-vendedor-foto{
	  	border-radius: 8px;
	   	display: block;
	    margin: auto;
	    width: 50%;
	    padding-top: 14%;
	}

	.opciones-vendedor{
	  	margin-top: 10%;
	    margin-top: 50px;
	}

	.opcion-btn{ 	  	
	  	border: none;
	  	cursor: pointer;
	  	font-size: 24px;
	  	margin-left: 10%;
	  	text-align: center;
	 	width: 80%;
	}

	.opcion-vendedor{
		margin-bottom: 10px;
		padding: 5px 0px 5px 0px;
	}

	.opciones-vendedor-nombre{
		font-size: 22px;
		text-align: center;
	}



	.user-search-btn{
		background: #000;
    	color: #fff;
    	padding: 20px 10px;
    	width: 85%;
	}

	.user-search-btn > a{
		color: #fff;
    	font-size: 18px;
    	font-weight: bold;
	}

	@media only screen and (max-width: 1024px) {
		.opciones-vendedor{
			margin-top: 200px!important;	
		}
		.user-search-btn{
			padding: 35px 10px!important;
		}
		.user-search-btn > a{
			font-size: 32px!important;
		}
    }


    @media only screen and (max-width: 425px) {
    	.opciones-vendedor{
			margin-top: 100px!important;	
		}
		.user-search-btn{
			padding: 20px 10px!important;
		}
		.user-search-btn > a{
			font-size: 22px!important;
		}
    }

</style>

<div class="ksalonaso height-100;">
<!--
	<div class="opciones-vendedor">
		
		<div class="opcion-vendedor">
			<a ui-sref="cliente_vendedor_profesionales({id:peluqueria.id})" class="waves-effect waves-purple btn black white-text opcion-btn">PROFESIONALES </a>
		</div>

		<div  class="opcion-vendedor">
			<a ui-sref="cliente_vendedor_combos({id:peluqueria.id})" class="waves-effect waves-purple btn black white-text opcion-btn">COMBOS </a>
		</div>

		<div class="opcion-vendedor">
			<a ui-sref="cliente_vendedor_servicios({id:peluqueria.id})" class="waves-effect waves-purple btn black white-text opcion-btn">SERVICIOS </a>
		</div>
		<div class="opcion-vendedor">
			<a ui-sref="cliente_vendedor_productos({id:peluqueria.id})" class="waves-effect waves-purple btn black white-text opcion-btn">PRODUCTOS </a>
		</div>

	</div>
-->

	<div class="opciones-vendedor">
		<div class="row user-search-btn">
			<a ui-sref="cliente_vendedor_profesionales({id:pel[0].lounge_id})" class="waves-effect btn-block waves-light btn-large black">
				PROFESIONALES
			</a>
		</div>
		<div class="row user-search-btn">
			<a ng-click="goClienteVendedorCombos()" class="waves-effect btn-block waves-light btn-large black">
				COMBOS
			</a>
		</div>
		<div class="row user-search-btn">
			<a ng-click="goClienteVendedorServicios()" class="waves-effect btn-block waves-light btn-large black">
				SERVICIOS
			</a>
		</div>
		<div class="row user-search-btn">
			<a ui-sref="cliente_vendedor_productos({id:pel[0].lounge_id})" class="waves-effect btn-block waves-light btn-large black">
				PRODUCTOS
			</a>
		</div>
	</div>


</div>