<div ui-view="navigation"></div>
<br><br><br><br>
<div id="modalPagar" class="modal">
    <div class="modal-content">
      <button class="btn btn-large btn-block" ng-click="pagoEfectivo()">Efectivo</button>
      <br>
      <button class="btn btn-large btn-block">Paypal</button>
    </div>
    <div class="modal-footer teal">
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">Cancelar</button>
    </div>
  </div>

  <div id="modalCarrito" class="modal">
    <div class="modal-content">
      <table>
        <thead>
          <tr>
          	<th class="center-align">Descripción</th>
            <th class="center-align">Nombre</th>
            <th class="center-align">Precio</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="car in carrito">
          	<td>{{car.id}}</td>
            <td class="center-align">{{car.descripcion}}</td>
            <td class="center-align">{{car.precio}}</td>
            <td>
            	<button class='dropdown-button btn-floating waves-effect red secondary-content left-align' ng-click="eliminarServicioCarrito(car.id)">
            		<i class="fa fa-times" aria-hidden="true" style="color:#000!important;"></i> 
            	</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td class="center-align">Total: </td>
          <td class="center-align">{{factura.total}}</td>
        </tfoot>
      </table>
    </div>
    <div class="modal-footer teal">
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">Cancelar</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="modalPagar()">Pagar</button>
    </div>
  </div>

<div>

<!-- 	<div class="slider">
	    <ul class="slides">
	      	<li ng-repeat="serv in servs">
	        	<img src="{{ urlFoto+serv.foto }}" class="responsive-img">
	        	<div class="caption center-align">
	          		<h3>This is our big Tagline!</h3>
	          		<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
	        	</div>
	        	<div>
	        		<h4>OK</h4>
	        	</div>
	      	</li>
	    </ul>
	</div> -->

	<div class="slider">
		<ul style="background-color: rgb(233,233,233); " class="slides">
			<li ng-repeat="serv in servs">
				<div class="card medium">
					<div class="card-image waves-effect waves-block waves-light">
						<img ng-src="{{ urlFoto+serv.foto }}" class="activator responsive-img">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">{{serv.descripcion+' : $'+serv.precio}}<i class="material-icons right">more_vert</i></span>
						<a id="carrito{{serv.id}}" ng-click="agregarCarrito(serv)">
							Añadir al carrito
							<img src="./assets/core/images/add_cart.png" class="circle" style="border-radius: 50%;background: #fff; height: 64px; width: 64px;">
						</a>
						
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">{{serv.descripcion}}<i class="material-icons right">close</i></span>
						<h5>Precio : {{serv.precio}}</h5>
						<p>{{serv.descripcion_servicio}}</p>
					</div>
				</div>
			</li>
		</ul>
	</div>




	<div class="col s12 m8 offset-m2 l6 offset-l3">
		<div class="card-panel grey lighten-5 z-depth-1">
			<div class="row valign-wrapper">
				<div class="col s2">
					<img ng-src="{{ urlFoto+usuario.avatar}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
				</div>
				<div class="col s10">
					<h4>{{usuario.name}}</h4>
					<span class="black-text">
						{{pel[0].descripcion_salon}}
					</span>
				</div>
			</div>
		</div>
	</div>


	<a ui-sref="lounges_servicios({id:pel[0].lounge_id})" ng-if="estado == false" class="btn btn-block btn-large">Ver perfil de este salon!!</a>
	
<!-- ng-click="goClienteIndependientePerfil(); -->
	<a ui-sref="profesional_servicios({id:pel[0].user_id})" ng-if="estado == true" class="btn btn-block btn-large" ">Ver perfil de este independiente!!</a>
	<br>
	<a class="btn btn-block btn-large" ng-click="modalCarrito()">Ver Carrito</a>

</div> 