
<div ui-view="navigation"></div>  

<br>

<div class="height-100;" style="margin-top:50px;">
  <div>
    <div class="col s12" style=" min-height:300px;">
      <h2 style="font-size:18px; text-align:center;">Seleccione en el mapa.</h2>
      <div id="map" style="min-height:300px;"> </div>
    </div>
  </div>
</div>

<div>
  <div class=" s12 m12">
    <!-- <div class="card-panel"> -->
    <table class="bordered">
        <thead>
          <tr>
            <th colspan="2" class="center-align"><p>Ultimos Salones Publicados</p></th>
          </tr>
        </thead>

        <tbody>

          <tr ng-repeat="peluqueria in peluquerias">
            <td><i class="flaticon-skyline black-text center"></i></td>
            <td>
              <div class="row">
                <div class="col s12 m12">
                  <h6 class="nombre-comentario">{{ peluqueria[0].nombre_salon }}</h6>
                </div>
                <div class="col s6 m6">
                  <p ng-repeat="servicio in peluqueria">
                    {{ servicio.nombre_servicio }}
                  </p>
                  <!-- <p>Cotizacion</p> -->
                </div>
                <div class="col s6 m6">
                  <a ui-sref="cliente_servicio_preview({ categoria_id: categoria_id, peluqueria: peluqueria, servicios })">Mas Informacion</a>
                </div>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    <!-- </div> -->
  </div>
</div>

<!-- <div>
      <div class=" s12 m12">
        <div class="card-panel">
        <table class="bordered">
            <thead>
              <tr>
                <th colspan="2" class="center-align"><h4>Ultimos Salones Publicados</h4></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><i class="flaticon-skyline black-text center"></i></td>
                <td>
                  <div class="row">
                    <div class="col s12 m12">
                      <h6 class="nombre-comentario">Gran Salon</h6>
                    </div>
                    <div class="col s6 m6">
                      <p>Secado de cabello</p>
                      <p>Cotizacion</p>
                    </div>
                    <div class="col s6 m6">
                    	<a href="">Mas Informacion</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><i class="flaticon-skyline black-text center"></i></td>
                <td>
                  <div class="row">
                    <div class="col s12 m12">
                      <h6 class="nombre-comentario">Gran Salon</h6>
                    </div>
                    <div class="col s6 m6">
                      <p>Secado de cabello</p>
                      <p>Cotizacion</p>
                    </div>
                    <div class="col s6 m6">
                    	<a href="">Mas Informacion</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><i class="flaticon-skyline black-text center"></i></td>
                <td>
                  <div class="row">
                    <div class="col s12 m12">
                      <h6 class="nombre-comentario">Gran Salon</h6>
                    </div>
                    <div class="col s6 m6">
                      <p>Secado de cabello</p>
                      <p>Cotizacion</p>
                    </div>
                    <div class="col s6 m6">
                    	<a href="">Mas Informacion</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
 -->
<div>