<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_cart">
			<input type="hidden" name="upload" value="1">
			<input type="hidden" name="business" value="jesustc17-facilitator@gmail.com">
			<input type="hidden" name="currency_code" value="USD">


			<input type="hidden" name="item_name_1" value="REF: servicio ">
			<input type="hidden" name="amount_1" value="222">
			<input type="hidden" name="quantity_1" value="1">
			
			<input type="submit" class="btn btn-block teal lighten-2 waves-effect waves-light btn-large" value="Paypal prueba" name="submit" alt="Comprar con PayPal" title="Comprar con PayPal">
	    </form>