
<div ui-view="navigation"></div>	


<style type="text/css">
	body {
	    /*background: url(./assets/core/images/login1.jpg)no-repeat center top;*/
	    background: url(./assets/core/images/fondoksalonazo-1.png)no-repeat center top;
	    background-size: cover;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    -ms-background-size: cover;
	    background-attachment: fixed;
	    background-position: center;
	    text-align: center;
		font-family: 'Open Sans', sans-serif;
	}

	i{
		color: #fff!important;
	}

	.user-type{
		/*background: #000;*/
		/*font-weight: bold;*/

		background-size: cover;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    -ms-background-size: cover;
	    background-attachment: fixed;
	    background-position: center;

	    position: relative;
	}
	.user-type > a{
		/*background: #000;*/
		background: rgba(0,0,0,0.7)!important;
		bottom: 0;
		content: '';
	    left: 0;
	    position: absolute;
	    right: 0;
	    top: 0;
	}




	.user-search-btn{
		background: #000;
    	color: #fff;
    	padding: 20px 10px;
    	width: 85%;
	}

	.user-search-btn > a{
		color: #fff;
    	font-size: 18px;
    	font-weight: bold;
	}


	@media only screen and (max-width: 1024px) {
		.filter-search-before{
			margin-top: 300px!important;	
		}
		.user-search-btn{
			padding: 40px 10px!important;
		}
		.user-search-btn > a{
			font-size: 32px!important;
		}
    }

    @media only screen and (max-width: 768px) {

    }

    @media only screen and (max-width: 425px) {
    	.filter-search-before{
			margin-top: 100px!important;	
		}
		.user-search-btn{
			padding: 25px 10px!important;
		}
		.user-search-btn > a{
			font-size: 22px!important;
		}
    }

    @media only screen and (max-width: 385px) {

    }

    @media only screen and (max-width: 325px) {

    }
</style>


<br>

<div class="row">
	<!-- <div class="col s12 m12">		
		<div class="input-field input-color col s12 white-text container user-type">
			<a ui-sref="cliente_servicio_categorias({id:1})" class="waves-effect btn-block waves-light btn-large">
				<i class="flaticon-skyline agrandar black-text right"></i>
				<span class="left">SALONES GRANDES</span>
			</a>
		</div>
		<div class="input-field input-color col s12 white-text container user-type">
			<a ui-sref="cliente_servicio_categorias({id:2})" class="waves-effect btn-block waves-light btn-large">
				<i class="flaticon-barbershop agrandar black-text right"></i>
				<span class="left">SALONES</span>
			</a>
		</div>
		<div class="input-field input-color col s12 white-text container user-type">
			<a ui-sref="cliente_servicio_categorias({id:3})" class="waves-effect btn-block waves-light btn-large">
				<i class="flaticon-hairdresser-with-comb-and-scissors agrandar black-text right"></i>
				<span class="left">INDEPENDIENTES</span>
			</a>
		</div>					
	</div> -->

	<!-- <div style="height: calc(100vh - 56px); margin-top:0px; text-align:center;">

		<div style="color:black; height: calc(100%);">	

			<div class="collection user-type waves-effect waves-light" style="background: url(./assets/core/images/utilities/grandes_salones.jpg)no-repeat center; margin:0px; height:33%;   align-items: center; display: flex; justify-content: center;">
			    <a ui-sref="cliente_servicio_categorias({id:1})" class="collection-item " style="color: #fff; font-size: 24px; font-weight: lighter; width:100%; padding: 10% 0% 10% 0%;">
					<div style="display:inline-block; min-height: 64px;width: 100%;">
						<span style="font-weight: bold;">SALONES GRANDES</span>
					</div>	
			    </a>
			</div>

			<div class="collection user-type waves-effect waves-light" style="background: url(./assets/core/images/utilities/salones_pequenos2.jpg)no-repeat center; margin:0px; height:33%;   align-items: center; display: flex; justify-content: center;">
			    <a ui-sref="cliente_servicio_categorias({id:2})" class="collection-item" style="color: #fff; font-size: 24px; font-weight: lighter; width:100%; padding: 10% 0% 10% 0%;">
					<div style="display:inline-block; min-height: 64px;width: 100%;">
						<span style="font-weight: bold;">SALONES PEQUEÑOS</span>
					</div>	
			    </a>
			</div>

			<div class="collection user-type waves-effect waves-light" style="background: url(./assets/core/images/utilities/independiente.jpg)no-repeat center;  margin:0px; height:33%;   align-items: center; display: flex; justify-content: center;">
			    <a ui-sref="cliente_servicio_categorias({id:3})" class="collection-item" style="color: #fff; font-size: 24px; font-weight: lighter; width:100%; padding: 10% 0% 10% 0%;">
					<div style="display:inline-block; min-height: 64px;width: 100%;">
						<span style="font-weight: bold;">INDEPENDIENTES</span>
					</div>	
			    </a>
			</div>
		</div>

	</div> -->

<style type="text/css">
	
</style>
    

	<div class="filter-search-before" style="margin-top: 50px;">
		<div class="row user-search-btn">
			<a ui-sref="cliente_servicio_categorias({id:1})">Grandes Salones</a>
		</div>

		<div class="row user-search-btn">
			<a ui-sref="cliente_servicio_categorias({id:2})">Pequeños salones</a>
		</div>

		<div class="row user-search-btn">
			<a ui-sref="cliente_servicio_categorias({id:3})">Independiente</a>
		</div>
	</div>

</div>
      
        