<style type="text/css">
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
	ol,ul{list-style:none;margin:0px;padding:0px;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}
	/* start editing from here */
	a{text-decoration:none;}
	.txt-rt{text-align:right;}/* text align right */
	.txt-lt{text-align:left;}/* text align left */
	.txt-center{text-align:center;}/* text align center */
	.float-rt{float:right;}/* float right */
	.float-lt{float:left;}/* float left */
	.clear{clear:both;}/* clear float */
	.pos-relative{position:relative;}/* Position Relative */
	.pos-absolute{position:absolute;}/* Position Absolute */
	.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
	.vertical-top{	vertical-align:top;}/* vertical align top */
	nav.vertical ul li{	display:block;}/* vertical menu */
	nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
	img{max-width:100%;}
	/*end reset*/
/*	html{
		overflow: hidden;
	}*/
	body {
	    /*background: url(./assets/core/images/login1.jpg)no-repeat center top;*/
	    background: url(./assets/core/images/fondoksalonazo-1.png)no-repeat center top;
	    background-size: cover;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    -ms-background-size: cover;
	    background-attachment: fixed;
	    background-position: center;
	    text-align: center;
		font-family: 'Open Sans', sans-serif;
	}
</style>



<div class="center-container">

	<div class="header-w3l">
		<img src="./assets/core/images/logosalon.png" class="logo" style="margin-top: 25px; max-width: 125px;">
	</div>

	<div class="main-content-agile">
		<div class="sub-main-w3">	
			<div class="wthree-pro">

			</div>
			<form action="check" method="post" redirect="perfil" type="json" class="ajax_true">
				<div class="pom-agile">
					<input placeholder="E-mail" name="email" class="user" type="email" required="" value="cliente@email.com">
					<span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
				</div>
				<div class="pom-agile">
					<input  placeholder="Contraseña" name="password" class="pass" type="password" required="" value="12345">
					<span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
				</div>
				<div class="sub-w3l">
					<!-- <h6><a ui-sref="registro">¡Registrase Ahora!</a></h6> -->
					<!-- <h6><a href="#">Forgot Password?</a></h6> -->

					<div class="row">
						<div class="col s4">
					        <!-- Promo Content 1 goes here -->
					    </div>
					    <div class="col s4">
					        <a ui-sref="registro" style="color: #fff; font-size: 12px; font-weight: bold;">Registrarse</a>
					    </div>
					    <div class="col s4">
					        <a href="" style="color: #fff; font-size: 10px; font-weight: bold; font: -webkit-small-control!important;">¿Olvidaste tu contraseña?</a>
					    </div>
					</div>

					<div class="right-w3l">
						<input type="submit" value="Iniciar Sesión">
					</div>
				</div>
			</form>
		</div>
	</div>

</div>
