<div ui-view="navigation"></div>	
<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
        <img src="./assets/core/images/map.jpg" alt="" class="perfil">
      </div>
    </div>
  </div>
</div>

<div class="row">
      <div class="col s12 m12">
        <div class="card-panel">
        <table class="bordered">
            <thead>
              <tr>
                <th colspan="2" class="center-align"><h4>Ultimos Salones Publicados</h4></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><i class="flaticon-skyline black-text center"></i></td>
                <td>
                  <div class="row">
                    <div class="col s12 m12">
                      <h6 class="nombre-comentario">Gran Salon</h6>
                    </div>
                    <div class="col s6 m6">
                      <p>Secado de cabello</p>
                      <p>Cotizacion</p>
                    </div>
                    <div class="col s6 m6">
                    	<a href="">Mas Informacion</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><i class="flaticon-skyline black-text center"></i></td>
                <td>
                  <div class="row">
                    <div class="col s12 m12">
                      <h6 class="nombre-comentario">Gran Salon</h6>
                    </div>
                    <div class="col s6 m6">
                      <p>Secado de cabello</p>
                      <p>Cotizacion</p>
                    </div>
                    <div class="col s6 m6">
                    	<a href="">Mas Informacion</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><i class="flaticon-skyline black-text center"></i></td>
                <td>
                  <div class="row">
                    <div class="col s12 m12">
                      <h6 class="nombre-comentario">Gran Salon</h6>
                    </div>
                    <div class="col s6 m6">
                      <p>Secado de cabello</p>
                      <p>Cotizacion</p>
                    </div>
                    <div class="col s6 m6">
                    	<a href="">Mas Informacion</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<div>