<div ui-view="navigation"></div>	

	<div id="chatbox">

		<div id="friendslist">
	        
			<div id="topmenu" style="position:relative;">
				<div style="align-items: center; display: flex; height:60px; left:0px; margin-left:10px; padding: 10px; position: absolute; top:0px;" >
					<a action="action" onclick="window.history.go(-1); return false;"  style="color:#000; font-size: 24px!important; font-weight: bold; padding:0px;" value=""><<a/>
				</div>
				
			    <p>
			       Mis mensajes
			    </p>
			</div>

	        <div id="friends">
	        	<div class="friend" ng-repeat="(key, conver) in conversations | orderBy: '-last_message.created_at'">
	        		

		            <a ui-sref="user_message({id:conver.send_by.id,transaction_id:conver.transaction_id})" ng-if="conver.send_by.id != user_id">	
		            	<img src="./assets/core/images/no_avatar.jpg" />
		                <p>
		                	<span  ng-if="conver.sin_leer > 0"  style="float: right; background-color: #D77E34; border-radius:50%; color: #fff; display: inline-block; padding-left: 8px; padding-right: 10px; padding-top:4px; padding-bottom: 4px; text-align: center;">{{conver.sin_leer}}</span>

		                	<strong ng-if="conver.send_by.id != user_id">{{conver.send_by.name}}</strong>
		                	<strong ng-if="conver.receive_by.id != user_id">{{conver.receive_by.name}}</strong>

			                <span>{{conver.lastMessage.message | limitTo:20}}</span>
		                </p>
		                <!-- <div class="status available"></div> -->
		            </a>

		            <a ui-sref="user_message({id:conver.receive_by.id,transaction_id:conver.transaction_id})" ng-if="conver.receive_by.id != user_id">
						<img src="./assets/core/images/no_avatar.jpg" />
		                <p>
		                	<span  ng-if="conver.sin_leer > 0"  style="float: right; background-color: #D77E34; border-radius:50%; color: #fff; display: inline-block; padding-left: 8px; padding-right: 10px; padding-top:4px; padding-bottom: 4px; text-align: center;">{{conver.sin_leer}}</span>

		                	<strong ng-if="conver.send_by.id != user_id">{{conver.send_by.name}}</strong>
		                	<strong ng-if="conver.receive_by.id != user_id">{{conver.receive_by.name}}</strong>

			                <span>{{conver.lastMessage.message | limitTo:20}}</span>
		                </p>
		                <!-- <div class="status available"></div> -->
		            </a>

	            </div>

	            <div ng-if="no_messages == true">
	            	<p>Aun no tiene mensajes</p>
	            </div>
	            
	        </div>                
	        
	    </div>	
	    	
</div>