<div ui-view="navigation"></div>

<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
        <img ng-src="{{ thumbnail.dataUrl }}" class="perfil" />
        <div class="container"><h4 class="text-black">{{Usuario.name}}</h4></div>
      </div>
      <div class="card-content center-align"  style="font-size: 2em;">
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
        <div class="card-action">
         <a ui-sref="perfil_config">Configuración de mi perfil</a>
        </div>
      </div>
    </div>
  </div>

<div class="row">
      <div class="col s12 m12">
        <div class="card-panel">
        <table class="bordered">
            <thead>
              <tr>
                <th colspan="2" class="center-align"><h4>Ultimos Comentarios</h4></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><i class="fa fa-user-circle fa-2x"></i></td>
                <td>
                  <div class="row">
                    <div class="col s6">
                      <h6 class="nombre-comentario">Jonathan</h6>
                    </div>
                    <div class="col-s6">
                      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <div class="col s12">
                      La peluqueria es muy buena la Recomiendo
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><i class="fa fa-user-circle fa-2x"></i></td>
                <td>
                  <div class="row">
                    <div class="col s6">
                      <h6 class="nombre-comentario">Jonathan</h6>
                    </div>
                    <div class="col-s6">
                      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <div class="col s12">
                      La peluqueria es muy buena la Recomiendo
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><i class="fa fa-user-circle fa-2x"></i></td>
                <td>
                  <div class="row">
                    <div class="col s6">
                      <h6 class="nombre-comentario">Jonathan</h6>
                    </div>
                    <div class="col-s6">
                      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <div class="col s12">
                      La peluqueria es muy buena la Recomiendo
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<div>

    <!-- <div class="col s12">
      <span style="color:white;font-size: 1.16em;"><ins>Ultimos comentarios de los usuarios trabajadores</ins></span>
            
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons circle green">insert_chart</i>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
          </p>
          <div class="row" style="font-size:1.55em;">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>

        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">insert_chart</i>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br></p>
          <div class="row" style="font-size:1.55em;">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">insert_chart</i>
                
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br></p>
          <div class="row" style="font-size:1.55em;">
              <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        </li>
      </ul>

  </div>
</div> -->

<div ng-show="btnClientes">
  <div class="col s7 offset-s2">
    <a ui-sref="home" class="waves-effect waves-light btn btn-evolutrans btn-block" style="width:100%;position: relative;bottom: 4%; font-size: 1.2rem;">
      Buscar servicios
    </a>
  </div>
</div>

<div ng-show="btnSalones">
  <div class="col s7 offset-s2">
    <a ui-sref="lounges_servicios" class="waves-effect waves-light btn btn-evolutrans btn" style="width:100%;position: fixed;bottom: 0px; font-size: 1.2rem;height: 40px;">
      Mis Servicios
    </a>
  </div>
</div>
