
<div ui-view="navigation"></div>

<!-- <div id="topmenu" style="position:relative;">
    <div style="align-items: center; display: flex; height:60px; left:0px; margin-left:10px; padding: 10px; position: absolute; top:0px;" >
        <a action="action" onclick="window.history.go(-1); return false;"  style="color:#000; font-size: 24px!important; font-weight: bold; padding:0px;" value=""><<a/>
    </div>
                
    <p>
        Politicas de Privacidad
    </p>
</div>
 -->

<div class="full-height">
    <div class="col s12 full-height" style="background-color: #fff;color:black;">  
        <div></div>
        <p style=" font-size:18px;padding-top:25px; text-align:center;">Politicas de Privacidad</p>
        <div style="margin: 0 auto; text-align: justify;  width: 85%;">
            <p class="politicas"></p>
            <p class="politicas">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus minima incidunt suscipit quas fuga a eum ad hic pariatur accusantium, eius omnis, est odio, optio veniam assumenda amet reiciendis deserunt!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloremque assumenda hic amet dolorem odio quae minima nisi sit animi, inventore tempore nesciunt, quidem aut modi ratione quod error nulla?
            </p>
            <br>
            <p class="politicas">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid fuga animi consectetur itaque, voluptate aperiam, voluptatum debitis nam illo ea recusandae. Debitis aperiam similique ut unde consectetur nemo quis! Aspernatur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit mollitia atque perspiciatis impedit ipsum quo sit quaerat eaque, eos distinctio. Iure cupiditate, unde quidem consectetur, facere accusamus odit illum aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptates dolorem quae cum architecto eveniet, vero pariatur ducimus magnam eaque labore maiores quaerat non minus iste. Pariatur maxime vel asperiores.
            </p>
        </diV>
    </div>
</div>
