<div ui-view="navigation"></div>

	<div>
		<div style="height:58px;"></div>

			<div class="row" ng-repeat="(key,item) in data | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize" class="item_ro" data-cat_id="{{item.id}}"  style="border-bottom:1px solid lightgray;  height:125px;">
				<div class="ticket-status"   style="height:37px;">
					<div class="chip" ng-if="!item.thread">
						<img src="../../../assets/core/images/pending.png">
						Pendiente
					</div>
					<div class="chip" ng-if="item.thread">
						<img src="../../../assets/core/images/done.png">
						Respondido
					</div>
					<span ng-if="item.thread" style="color:Gray; float:right;">
						{{item.thread.created_at | date}}
					</span>
				</div>

				<a ui-sref="ticket_detail({id:item.id})" class="waves-effect waves-light" style=" display:block;">
					
					<div class="row">

						<div style="color:#000;  font-weight: 400; height:24px; margin:auto; width:95%;">
							<p style="font-size:16px; white-space: nowrap; overflow:hidden !important; text-overflow: ellipsis;">
								{{item.subject }}
							</p>
						</div>
						<div >
							<p style="color: gray; font-size:12px; height:36px; margin:auto;   overflow:hidden !important; text-overflow: ellipsis;  width:95%; ">
								{{(item.content | limitTo: 100) + (item.content.length > 100 ? '...' : '')}}
							</p>
						</div>
						<div>

							<span style="color:Gray; float:right; padding-top: 10px;">
								Enviado el <i class="material-icons" style="font-size:12px;">query_builder</i>{{item.created_at | date}}
							</span>
						</div>
						
					</div>

				</a>

			</div>

		</div>



		<div class="row"  style="margin-bottom:65px; padding:25px 0px 25px 0px;">
			<div class="col s12" style="text-align: center;">
				
				<button class="waves-effect waves-light btn" style="padding: 0 1rem;" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
						<span ng-if="currentPage > 0">{{currentPage}}</span>
				</button>

				<span class="waves-effect waves-light btn">
					{{currentPage+1}}/{{numberOfPages()}}
				</span>

				<button class="waves-effect waves-light btn" style="padding: 0 1rem;" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1" >
					<span ng-if="currentPage < getData().length/pageSize - 1">{{currentPage+2}}</span>
				</button>

			</div>
		</div>


 		<div class="sticky-footer">
			<a ui-sref='ticket_send' class="btn btn-block teal lighten-2 waves-effect waves-light btn-large">				
				Nuevo Ticket 				
			</a>
		</div>
 	</div>
	
