<div ui-view="navigation"></div>

<div class="fixed-action-btn">
  <a ui-sref="lounges_crear" class="btn-floating btn-large blue" >
    <i class="large material-icons">add</i>
  </a>
</div>


  <div id="modalLounge" class="modal red">
    <div class="modal-content">
      <h4>¿Seguro que desea eliminar este salon?</h4>
      <input class="hidden" type="text" ng-model="id_lounge">
    </div>
    <div class="modal-footer red">
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">Cancelar</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="eliminarLounge(id_lounge)">Eliminar</button>
    </div>
  </div>
          

<div class="row">
      <div class="col s12 m12">
        <div>
        <table class="bordered">
            <thead>
              <tr>
                <th colspan="2" class="center-align"><h5>Lista de Salones</h5></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="Lounge in Lounges">
                <td><i class="flaticon-skyline black-text center"></i></td>
                <td>
                  <div class="row">
                    <div class="col s6 m6">
                      <h6 class="nombre-comentario">Salon</h6>
                    </div>
                    <div class="col s6 m6">
                      <h6 class="nombre-comentario">{{Lounge.id}}</h6>
                    </div>
                </td>
                <td>
	                <div class="col s12 m12 center-align">
	                	<!-- <a ui-sref="lounges_editar({id:Lounge.id})" class="btn-floating waves-effect waves-light orange" ui-sref="lounges_Lounges_editar"><i class="material-icons">mode_edit</i></a>
	               		<a class="btn-floating waves-effect waves-light red" ng-click="modalLounge(Lounge.id)"><i class="material-icons">delete</i></a>
	               		<a ui-sref="lounges_servicios({id:Lounge.id})" class="btn-floating waves-effect waves-light green" ui-sref="lounges_Lounges_editar"><i class="material-icons">visibility</i></a> -->

                    <button class='dropdown-button btn-floating waves-effect waves-light secondary-content' data-activates='{{Lounge.id}}'><i class="material-icons">more_vert</i></button>

                    <!-- Dropdown Structure -->
                    <ul id='{{Lounge.id}}' class='dropdown-content'>
                      <li><a ui-sref="lounges_editar({id:Lounge.id})">Editar</a></li>
                      <li><a ng-click="modalLounge(Lounge.id)">Eliminar</a></li>
                      <li><a ui-sref="lounges_servicios({id:Lounge.id})">Ver Salon</a></li>
                    </ul>
	                	</div>
	                </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<div>

  <!-- <div class="right" style="margin-right: 15px;">
  <a class='dropdown-button btn' data-beloworigin="true" href='javascript:void(0)' data-activates='prueba' id="prueba2" style="background-color: #4db6ac;padding: 0 10px;"><i class="material-icons">more_vert</i></a>
    <ul id='prueba' class='dropdown-content' for="prueba2">
      <li>
        <a ui-sref="">Editar</a>
      </li>
      <li>
        <a href="javascript:void(0)" ng-click="">Eliminar</a>
      </li>
      <li>
        <a href="javascript:void(0)">Mensaje</a>
      </li>
    </ul>
  </div> -->


  <!-- Dropdown Trigger -->
  <!-- <a class='dropdown-button btn' href='javascript:void(0)' data-activates='dropdown1'>Drop Me!</a> -->

  <!-- Dropdown Structure -->
  <!-- ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul -->
        



