<div ui-view="navigation"></div>

<style type="text/css">
  /*No borrar*/
  #btn-add-loungeclient{
    display: none;
  }
</style>

<div ng-hide="cliente_salon" id="btn-add-loungeclient" class="fixed-action-btn">
  <a ui-sref="lounges_productos_crear" class="btn-floating btn-large blue" >
    <!-- <i class="large material-icons">add</i> -->
    <i class="fa fa-plus" aria-hidden="true"></i>
  </a>
</div>


  <div id="modalproducto" class="modal red">
    <div class="modal-content">
      <h4>¿Seguro que desea eliminar este producto?</h4>
      <input class="hidden" type="text" ng-model="id_producto">
    </div>
    <div class="modal-footer red">
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">Cancelar</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="eliminarProducto(id_producto)">Eliminar</button>
    </div>
  </div>

  <div id="modalVerProducto" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="row">
        <img class="col s12" ng-src="{{ thumbnail.dataUrl }}" style="height: 250px" />
        <div class="input-field col s12">
          <label for="name">Nombre</label>
          <br>
          <br>
          <h4>{{prod.nombre}}</h4>
        </div>
        <div class="input-field col s12">
          <label for="name">precio</label>
          <br>
          <br>
          <h4>{{prod.precio}}</h4>
        </div>
        <div class="input-field col s12">
          <label for="name">descripcion</label>
          <br>
          <br>
          <h4>{{prod.descripcion}}</h4>
        </div>
      </div>
    </div>
    <div class="modal-footer teal">
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">Cerrar</button>
    </div>
  </div>
          

<div class="row">
      <div class="col s12 m12">
        <div>
        <table class=" js-basic-example dataTable">
            <thead>
              <tr>
                <th colspan="2" class="center-align"><h5>Lista de Productos</h5></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="Producto in Productos | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td style="width: 100px"><img style="width: 80px" ng-src="{{urlFoto+Producto.foto}}" alt="" class="circle"></td>
                <td>
                  <div class="row">
                    <div class="col s12 m12">
                      <h6 class="nombre-comentario">{{Producto.nombre}}</h6>
                    </div>
                    <div class="col s6 m6">
                      <p>Precio: {{Producto.precio}}$</p>
                    </div>
                    <!-- <div class="col s6 m6 center-align">
                      <a ui-sref="lounges_productos_editar({id:{{Producto.id}}})" class="btn-floating waves-effect waves-light orange" ui-sref="lounges_productos_editar"><i class="material-icons">mode_edit</i></a>
                      <a class="btn-floating waves-effect waves-light red" ng-click="modalProducto(Producto.id)"><i class="material-icons">delete</i></a>
                    </div> -->
                  </div>
                </td>
                <td>
                  <button class='dropdown-button btn-floating waves-effect waves-light secondary-content left-align' data-activates='{{Producto.id}}'>
                    <!-- <i class="material-icons">more_vert</i> -->
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                  </button>

                  <!-- Dropdown Structure -->
                  <ul id='{{Producto.id}}' class='dropdown-content left-align'>
                    <li ng-hide="cliente_salon"><a ui-sref="lounges_productos_editar({id:{{Producto.id}}})">Editar</a></li>
                    <li ng-hide="cliente_salon"><a ng-click="modalProducto(Producto.id)">Eliminar</a></li>
                    <li><a ng-click="modalVerProducto(Producto.id)">Ver Producto</a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row"  style="margin-bottom:65px; padding:25px 0px 25px 0px;" ng-if="mostrar">
            <div class="col s12" style="text-align: center;">

              <button class="waves-effect waves-light btn" style="padding: 0 1rem;" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                <span ng-if="currentPage > 0">{{currentPage}}</span>
              </button>

              <span class="waves-effect waves-light btn">
                {{currentPage+1}}/{{numberOfPages()}}
              </span>

              <button class="waves-effect waves-light btn" style="padding: 0 1rem;" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1" >
                <span ng-if="currentPage < getData().length/pageSize - 1">{{currentPage+2}}</span>
              </button>

            </div>
          </div>

        </div>
      </div>
    </div>

<div>

