<div ui-view="navigation"></div>

<style type="text/css">
  /*No borrar*/
  #btn-add-loungeclient{
    display: none;
  }
</style>

<div ng-hide="cliente_salon" id="btn-add-loungeclient" contenteditable="" class="fixed-action-btn">
  <a ui-sref="lounges_servicios_crear" class="btn-floating btn-large blue" >
    <!-- <i class="large material-icons">add</i> -->
    <i class="large fa fa-plus" aria-hidden="true"></i>
  </a>
</div>

<div ng-if="cliente_salon" class="fixed-action-btn">
  <a ng-click="modalCarrito()" class="btn-floating btn-large orange" >
    <!-- <i class="material-icons">shopping_cart</i> -->
    <i class="fa fa-cart-plus" aria-hidden="true"></i>
  </a>
</div>


  <div id="modalservicio" class="modal red">
    <div class="modal-content">
      <h4>¿Seguro que desea eliminar este servicio?</h4>
      <input class="hidden" type="text" ng-model="id_servicio">
    </div>
    <div class="modal-footer red">
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">Cancelar</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="eliminarServicio(id_servicio)">Eliminar</button>
    </div>
  </div>

  <div id="modalPagar" class="modal">
      <div class="payments-title">
        <h4>Métodos de pago</h4>
      </div>
      <div class="modal-content">
        <div ng-if="carrito.length>0">
          <div class="row payment-option" ng-click="pagoEfectivo();">
            <img src="./assets/core/images/icons/cash.png" alt="" class="circle responsive-img" style="max-width: 64px;">
            <span>Efectivo</span>
          </div>
          
          <div class="row payment-option" ng-click="payPaypal();">
            <img src="./assets/core/images/icons/paypal-logo.png" alt="" class="circle responsive-img" style="max-width: 64px;">
            <span>Paypal</span>
          </div>
        </div>
      </div>
      <div class="modal-footer pink accent-3">
        <button class="modal-action modal-close btn-flat white-text">Cancelar</button>
      </div>
  </div>


  <div id="modalCarrito" class="modal">
    <div class="modal-content">
      <table>
        <thead>
          <tr>
            <th class="center-align">Nombre</th>
            <th class="center-align">Precio</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="car in carrito">
            <td class="center-align">{{car.descripcion}}</td>
            <td class="center-align">{{car.precio}}</td>
            <td>
              <button class='dropdown-button btn-floating waves-effect red secondary-content left-align' ng-click="eliminarServicioCarrito(car.id)">
                <!-- <i class="material-icons">delete</i> -->
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td class="center-align">Total: </td>
          <td class="center-align">{{factura.total}}</td>
        </tfoot>
      </table>
    </div>
    <div class="modal-footer teal">
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">Cancelar</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="modalPagar()">Pagar</button>
    </div>
  </div>
          

<div class="row">
      <div class="col s12 m12">
        <div>
        <table class="bordered">
            <thead>
              <tr>
                <th ng-hide="cliente_salon" colspan="3" class="center-align"><h5>Lista de Servicios</h5></th>
                <th ng-show="cliente_salon" colspan="2" class="center-align"><h5>Lista de Servicios</h5></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="Servicio in Servicios | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td ng-hide="cliente_salon" style="width: 100px"><img style="width: 80px" ng-src="{{urlFoto+Servicio.foto}}" alt="" class="circle"></td>
                <td ng-show="cliente_salon" style="width: 160px"><img style="width: 80px" ng-src="{{urlFoto+Servicio.foto}}" alt="" class="circle"></td>
                <td>
                  <div class="row">
                    <div class="col s8 m8">
                      <h6 class="nombre-comentario">{{Servicio.nombre}}</h6>
                    </div>
                    <div class="col s6 m6">
                      <p>Precio: {{Servicio.precio}}$</p>
                    </div>

                  </div>
                </td>
                <td ng-if="cliente_salon">
                  <button id="carrito{{Servicio.id}}" class='dropdown-button btn-floating waves-effect waves-light secondary-content left-align' ng-click="agregarCarrito(Servicio)"><i class="material-icons">add_shopping_cart</i></button>
                </td>
                <td ng-hide="cliente_salon">
                  <button class='dropdown-button btn-floating waves-effect waves-light secondary-content left-align' data-activates='{{Servicio.id}}'><i class="material-icons">more_vert</i></button>

                  <!-- Dropdown Structure -->
                  <ul id='{{Servicio.id}}' class='dropdown-content left-align'>
                    <li><a ui-sref="lounges_servicios_editar({id:Servicio.id})">Editar</a></li>
                    <li><a ng-click="modalServicio(Servicio.id)">Eliminar</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row"  style="margin-bottom:65px; padding:25px 0px 25px 0px;" ng-if="mostrar">
            <div class="col s12" style="text-align: center;">

              <button class="waves-effect waves-light btn" style="padding: 0 1rem;" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                <span ng-if="currentPage > 0">{{currentPage}}</span>
              </button>

              <span class="waves-effect waves-light btn">
                {{currentPage+1}}/{{numberOfPages()}}
              </span>

              <button class="waves-effect waves-light btn" style="padding: 0 1rem;" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1" >
                <span ng-if="currentPage < getData().length/pageSize - 1">{{currentPage+2}}</span>
              </button>

            </div>
          </div>

        </div>
        </div>
      </div>
    </div>

<div>

