<div ui-view="navigation"></div>

<div class="fixed-action-btn">
  <button ng-click="modalAgregarServicio()" class="btn-floating btn-large blue" >
    <i class="large material-icons">add</i>
  </button>
</div>


  <div id="modalEliminarServicio" class="modal red">
    <div class="modal-content">
      <h4>¿Seguro que desea eliminar este servicio?</h4>
      <input class="hidden" type="text" ng-model="id_servicio">
    </div>
    <div class="modal-footer red">
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">Cancelar</button>
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="eliminarServicio(id_servicio)">Eliminar</button>
    </div>
  </div>

  <div id="modalServicio" class="modal">
    <div class="modal-content">
      <form>
      	<input class="hide" type="text" ng-model="id_servicio">
      	<input type="text" class="hide" ng-model="profesional_serv.professional_id">
      	<div ng-if="crearServicio">
      		<div class="input-field col s12">
      			<label>Servicios Disponibles</label><br><br>
      			<select ng-model="profesional_serv.service_id" class="browser-default">
      				<option value="" disabled selected>Seleccione un servicio</option>
      				<option ng-repeat="servicio in servicios" value="{{servicio.service_id}}">{{servicio.nombre}}</option>
      			</select>
      		</div>
      	</div>
      	<div ng-if="editarServ">
          <div class="input-field col s12">
            <label>Servicios Disponibles</label><br><br>
            <select class="browser-default"
            ng-options="option.nombre for option in servicios track by option.id"
            ng-model="profesional_serv.service_id"></select>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer teal">
      <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">Cancelar</button>
      	<button ng-if="crearServicio" class="modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="agregarServicio()">Agregar</button>
      	<button ng-if="editarServ" class="modal-action modal-close waves-effect waves-green btn-flat white-text" ng-click="actualizarServicio(id_servicio)">Editar</button>
    </div>
  </div>
          

<div class="row">
      <div class="col s12 m12">
        <div>
        <table class="bordered">
            <thead>
              <tr>
                <th colspan="2" class="center-align"><h5>Lista de Servicios</h5></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="profesional_servicio in profesional_servicios">
                <td><i class="flaticon-skyline black-text center"></i></td>
                <td>
                  <div class="row">
                    <div class="col s6 m6">
                      <h6 class="nombre-comentario">{{profesional_servicio.nombre}}</h6>
                    </div>
                    <div class="col s6 m6 center-align">
                      <a ng-click="editarServicio(profesional_servicio.id)" class="btn-floating waves-effect waves-light orange"><i class="material-icons">mode_edit</i></a>
                      <a class="btn-floating waves-effect waves-light red" ng-click="modalEliminarServicio(profesional_servicio.id)"><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<div>

