<div ui-view="navigation"></div>

<div class="fixed-action-btn">
  <a ui-sref="lounges_profesionales_crear" class="btn-floating btn-large blue" >
    <i class="large material-icons">add</i>
  </a>
</div>

<div class="container">
	<div class="row">
		<div class="col s12 m12">
			<div>
				<table class="bordered">
					<thead>
						<tr>
							<th colspan="2" class="center-align"><h5>Lista de Profesionales del salon</h5></th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="Servicio in Servicios">
							<td><i class="flaticon-skyline black-text center"></i></td>
							<td>
								<div class="row">
									<div class="col s12 m12">
										<h6 class="nombre-comentario">{{Servicio.nombre}}</h6>
									</div>
									<div class="col s6 m6">
										<p>Precio: {{Servicio.precio}}$</p>
									</div>
									<div class="col s6 m6 center-align">
										<a ui-sref="lounges_servicios_editar({id:Servicio.id})" class="btn-floating waves-effect waves-light orange" ui-sref="lounges_productos_editar"><i class="material-icons">mode_edit</i></a>
										<a class="btn-floating waves-effect waves-light red" ng-click="modalServicio(Servicio.id)"><i class="material-icons">delete</i></a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



