<div ui-view="navigation"></div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue">
      <i class="large material-icons">add</i>
    </a>
</div>

<div class="row container">
    <table>
        <thead>
          <tr>
              <th class="center-align" colspan="2">Nombre</th>
              <th class="center-align">Accion</th>
          </tr>
        </thead>

      <tbody>
          <tr>
            <td class="center-align"><i class="material-icons">account_circle</i></td>
            <td>Nombre</td>
            <td class="center-align"><a class="btn-floating waves-effect waves-light red"><i class="material-icons">mode_edit</i></a></td>
         </tr>
        </tbody>
    </table>
</div>

